.main__container {
    @include margins();
    margin-left: 160px;
    margin-top: 80px;
    min-height: 916px;
    background-image: url(../img/hero_woman2x.png);
    background-position: 300px -123px;
    background-repeat: no-repeat;
    background-size: 1500px;

    &-top {
        h1 {
            padding-top: 20px;
            font-size: 64px;
            color: $dark-blue;
            max-width: 85%;
            font-weight: 800;
            font-family: $primary-font;
            margin-bottom: 32px;
            padding-top: 50px;
        }

        p {
            max-width: 660px;
            font-size: 24px;
            color: $grey;
            line-height: 40px;
            // margin-bottom: 56px;
        }
    }

    &-botton {
        display: flex;
        align-items: center;
        column-gap: 10px;

        a.button {
            background-color: $dark-blue;
            color: white;
            padding: 16.5px 46px;
            text-decoration: none;
            border-radius: 32px;
        }

        &-watch {
            display: flex;
            align-items: center;

            img {
                padding-top: 40px;
                width: 120px;
            }

            a.watch {
                text-decoration: none;
                font-size: 18px;
                color: $dark-blue;
            }

        }
    }

    &-features {
        display: flex;
        column-gap: 72px;

        &-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px;
            padding-left: 60px;

            &-img {
                width: 70px;
                margin-bottom: 24px;
            }

            &-p1 {
                color: $dark-blue;
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            &-p2 {
                color: $grey;
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 25px;

                span {
                    color: $grey;
                    font-weight: 400;
                }
            }


        }

        .article3 {
            padding-left: 20px;
        }
    }

    &-reviews {
        max-width: 845px;
        position: relative;


        &-review {
            padding: 24px;
            background-color: #FFFFFF;
            opacity: .7;
            border-radius: 16px;

            img {
                margin-bottom: 8px;
            }

            p {
                max-width: 300px;
                margin-bottom: 8px;
                color: #000000;
                font-weight: 600;

                &.blue {
                    color: $dark-blue;
                    font-weight: 800;
                }
            }
        }

        .top {
            position: absolute;
            top: 300px;
            left: 390px;
        }

        .botton {
            position: absolute;
            top: 580px;
            right: 200px;
        }
    }

    .main__grid {
        display: grid;
        grid-template-columns: 60% 50%;
    }

}